.navbarr{
    margin-top: 20px;
    margin-left:10px;
    display: flex;
    align-items: center;
}
.navbar-brand{
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.nav-ele-cont{
    width:30%;
    height:40px;
    border-radius:20px;
    background-color: #322831;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 8px;
    opacity:0
}

#nav-0,#nav-1,#nav-2,#nav-3,#nav-4,#nav-5{
  opacity: 0;
  animation: slideDown 0.5s ease-out forwards;
}
#nav-0{
    background: linear-gradient(45deg, #dc46bb, #b03fe8); 
    text-align: center;
    font-size: 20px;
    animation-delay: 1s;
    font-family: "Merriweather", serif;
}
#nav-1{
    animation-delay: 1.2s;
}
#nav-2{
    animation-delay: 1.4s;
}
#nav-3{
    animation-delay: 1.6s;
}
#nav-4{
    animation-delay: 1.68s;
}
#nav-5{
    animation-delay: 2.0s;
}


@keyframes slideDown {
    from {
      transform: translateY(-100%); /* Start from below its own height */
      opacity: 0;
    }
    to {
      transform: translateY(0%); /* End at its original position */
      opacity: 1;
    }
  }

  @media only screen and (max-width: 768px)
  {
      .navbarr{
          display: none;
      }
  }