.avatar-cont{
    width:50%;
   /*  border:pink solid 1px; */
   /*  display: flex;
    justify-content: center; */
   /*  padding-left: 70px; */
   display: flex;
    justify-content: center;
}
.img{
  /*   width:800px; */
    height:575px;
   /*  border:yellow solid 1px; */
    
}
.img-cont{
  opacity: 0;
  animation: slideUp 0.5s ease-out forwards;
  animation-delay: 2s;
}
@keyframes slideUp {
  from {
    transform: translateY(100%); /* Start from below its own height */
    opacity: 0;
  }
  to {
    transform: translateY(0%); /* End at its original position */
    opacity: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .avatar-cont{
    width:100%;
  }
  .img {
    height: 430px; /* Adjust image height for smaller tablets */
  }
}

/* Small devices (portrait tablets and large phones, 600px up to 768px) */
@media only screen and (max-width: 600px) {
  .avatar-cont{
    width:100%;
  }
  .img {
    height: 300px; /* Adjust image height for phones */
  }
}
